*{
    padding: 0;
    margin:0;
}

body{
    font-family: 'Playfair Display', serif;
}
.nav__menu{
    margin-top: 15px;
    padding-left: 1%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.nav__menu__items{
    display:flex ;
    width: 80%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    align-content: center;
    font-size: 19px;
    
}
.nav__menu__items a{
    text-decoration: none;
    color: rgb(201, 165, 119);
}


.carrousel img{
    display: block;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 20%;
    object-fit: cover;

}
main h3{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    color: rgb(194, 151, 87);
    font-size: 25px;
}
.carrousel h3{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    color: rgb(194, 151, 87);
    font-size: 40px;
}

.slider__home{
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
}
.slider__prod__img{

    margin: 2%;
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.faqs{

    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 14rem;
}
.cambio{
    display: flex;
    justify-content: center;
    width: 50%;

}

.galeria__mujer{
    display: flex;
    overflow-x: scroll;
    
}
.galeria__mujer__title{
    display: flex;
    justify-content: center;

}
.galeria__mujer__img{
    display: flex;
    margin: 20px;
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.galeria__hombre{
    display: flex;
    overflow-x: scroll;
}
.galeria__hombre_title{
    display: flex;
    justify-content: center;

}
.galeria__hombre__img{
    display: flex;
    margin: 20px;
    width: 300px;
    height: 400px;
    object-fit: cover;
}
.galeria__niños{
    display: flex;
    overflow-x: scroll;
}
.galeria__niños_title{
    display: flex;
    justify-content: center;

}
.galeria__niños__img{
    display: flex;
    margin: 20px;
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.table{

    padding-block-start: 5%;
    padding-block-end: 8%;
    display:flex;

    justify-content: center;
}


.gridfooter{
    display: grid;
    background-color: burlywood;
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "mapa" "pago" "redes"
    "mapa" "pago" "redes";
}
.redes {
    margin: 5%;
    grid-area: redes;
    grid-column-start: 3;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end ;
}
.pago{
    grid-area: pago;
    grid-column-start: 2;
    grid-row-start: 1 ;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 10%;
}

.mapa{
    grid-area: mapa;
    grid-column-start: 1;
    grid-row-start: 2 ;
}

.contacto{
    padding-top: 48px;
    padding-block-end: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media only screen and (max-width:600px) {
    .nav__menu{
        display: flex;
        flex-flow: row nowrap;
    }
    .nav__menu__items{
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        align-items: flex-end;
               
    }
       
    .slider__home{
        display: flex;
        flex-direction: row;
        overflow-y: scroll;
    }

    .slider__prod__img{

        margin: 2%;
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    .carrousel h3{
        display: flex;
        justify-content: center;
        padding-top: 3rem;
        color: rgb(194, 151, 87);
        font-size: 25px;
    }
    
    .gridfooter{
        display: grid;
        background-color: burlywood;
        color: white;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "redes"
        "pago";
    }
    .mapa{
        display: none;
    }
    .redes{
        grid-column-start: 1;
        display: flex;
        align-items: center;
    }
    .pago{
        grid-column-start: 1;
        grid-row-start: 2;
        align-items: flex-start;

    }
        
    .galeria__mujer__img{
        margin: 2%;
        width: 200px;
        height: 150px;
        object-fit:cover;
    }
    .galeria__hombre__img{
        margin: 2%;
        width: 200px;
        height: 150px;
        object-fit: cover;
    }

    .galeria__niños__img{
        margin: 2%;
        width: 200px;
        height: 150px;
        object-fit: cover;
    }
    .faqs{

        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 8%;
    }
    .cambio{
        display: flex;
        justify-content: center;
        width: 80%;
    
    }
}


